
:root {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgba(255, 0, 0, 0.9);
    --third-color: rgb(255, 3, 45);
    --forth-color: rgb(255, 255, 255);
    --border: 1px solid rgb(255, 0, 43);
    --borderInput: 2px solid rgba(255, 0, 43, 0.77);
    --gradient: linear-gradient(to top, rgb(255, 0, 43) 0%, rgba(255, 0, 43, 0.5) 100%);
    --colorWhite: rgb(255, 255, 255);
    --boxShadowCardCatalog: 1px 1px 1px 1px rgba(255, 0, 43, 0.417);
    --borderCardCatalog: 2px solid #000000b3;
    --borderCardList: 1px solid #000000b3; 
    --filterDropShadow: drop-shadow(0 0 .5em rgb(255, 0, 43));
    --font: "Roboto";

}