.catalog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
}


.prevButton, .nextButton {
    padding: 5px 8px;
    margin: 0 10px;
    border-radius: 50%;
    background-image: var(--gradient);
    color: var(--primary-color);
    border: var(--border);
    cursor: pointer;
}

.prevButton:disabled, .nextButton:disabled {
    background-image: var(--primary-color);
    border: var(--primary-color);
}

.prevButton:hover, .nextButton:hover {
    filter: var(--filterDropShadow);
}

.prevButton:active, .nextButton:active {
    color: var(--third-color);
}