.card {
    display: grid;
    align-items: center;
    grid-template-columns: 0.5fr repeat(5, 1fr);
    border-collapse: collapse;
    width: 100%;
    border: var(--borderCardList);

    .word {
        color: var( --forth-color);
        font-size: 28px;
        font-weight: 700;
    }

    .category {
        margin: 2px;
        color: var(--third-color);
    }

    .transcription {
        color: var( --forth-color);
        font-size: 20px;
        font-weight: 500;
    }

    .translation {
        width: 150px;
        height: 40px;
        margin: 0 auto;
        font-size: 24px;
        margin-top: 10px;
        border-radius: 10px;
        color: var(--third-color);
    }
}

.buttons {
    display: flex;
    min-width: 100px;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 10px;
}

.buttonEdit, .buttonDelete, .buttonSave, .buttonCancel {
    padding: 5px 8px;
    border-radius: 50%;
    background-image: var(--gradient);
    color: var(--colorWhite);
    border: var(--border);
    cursor: pointer;
    margin: 0 3px;
}

.buttonDelete {
    padding: 5px 5px;
}

.buttonEdit:hover, .buttonDelete:hover, .buttonSave:hover, .buttonCancel:hover {
    filter: var(--filterDropShadow);
}


.buttonEdit:disabled, .buttonDelete:disabled, .buttonSave:disabled, .buttonCancel:disabled,
.buttonEdit:disabled:hover, .buttonDelete:disabled:hover, .buttonSave:disabled:hover, .buttonCancel:disabled:hover,
.buttonEdit:disabled:active, .buttonDelete:disabled:active, .buttonSave:disabled:active, .buttonCancel:disabled:active {
    background-color: #ccc;
    color: rgb(97, 97, 97);
    border-color: #ccc;
    cursor: unset;
    filter: unset;
}

.input {
    padding: 0;
    margin: 0;
    padding-block: 0;
    padding-inline:0;
    background-color: transparent;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.input:hover {
    background-color:  rgba(255, 255, 255, 0.417);
}

.error {
    margin-top: 5px;
    color: #000000;
    font-size: smaller;
    font-weight: 300;
}


@media screen and (max-width: 860px) {
    .buttons {
        justify-content: center;
        gap: 20px;
    }
    
}