@import '../../variables.css';

.addNewWordForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    width: 100%;
    margin: 30px 0;
}

.formItem {
display: flex;
flex-direction: column;
}

label {
    font-size: 20px;
    margin: 0 5px;
    font-weight: 600;
}

input {
    width: 15vw;
    height: 3vh;
    border: var(--borderInput);
    text-align: center;
    border-radius: 10px;
    margin: 0 5px;
}

.buttonAdd {
    width: 150px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    background-image: var(--gradient);
    color: var(--primary-color);
    border: var(--border);
    font-size: 18px;
}