@import '../../variables.css';

.logo {
    color: var(--secondary-color);
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 3px;
    filter:drop-shadow(2px 2px 2px black);
    padding: 0 5px;
}