.addNewWordForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    width: 100%;
    margin: 30px 0;
    align-items: flex-end;
    background-color: transparent;
}

.formItem {
display: flex;
flex-direction: column;
}

.buttonAdd {
    width: 150px;
    height: 40px;
    margin: 0 10px;
    border-radius: 10px;
    background: var(--gradient);
    color: var(--primary-color);
    border: var(--border);
    font-size: 18px;
    cursor: pointer;
}

.buttonAdd:hover {
    filter: var(--filterDropShadow);
}

.buttonAdd:active {
    color: var(--third-color);
}

.id {
    padding: 0;
    margin: 0 4.5% 0 0;
    font-size: 20px;
    font-weight: 600;
}

.label {
    font-size: 20px;
    margin: 0 5px;
    font-weight: 600;
    color: var(--colorWhite);
}

.input {
    width: 15vw;
    height: 3vh;
    border: var(--borderInput);
    text-align: center;
    border-radius: 10px;
    margin: 0 5px;
    cursor: pointer;
    background-color: transparent;
}

.input:hover {
    filter: var(--filterDropShadow);
}

@media screen and (max-width: 768px) {
    .addNewWordForm {
        flex-direction: column;
        align-items: center;
    }
}
