.card-list {
    display: grid;
    align-items: center;
    grid-template-columns: 0.5fr repeat(5, 1fr);
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;

    .word-list {
        color: #000000;
        font-size: 28px;
        font-weight: 700;
    }

    .category-list {
        margin: 2px;
        color: rgb(255, 96, 122);
    }

    .transcription-list {
        color: #000000;
        font-size: 20px;
        font-weight: 500;
    }

    .translation-list {
        width: 150px;
        height: 40px;
        margin: 0 auto;
        font-size: 24px;
        margin-top: 10px;
        border-radius: 10px;
        color: rgb(255, 96, 122);
    }
}

.buttons-list {
    display: flex;
    min-width: 100px;
    align-items: center;
    gap: 10px;
}
.button-edit-list, .button-delete-list {
    padding: 5px 8px;
    border-radius: 50%;
    background-image: linear-gradient(to top, #fff 0%, pink 0%, pink 100%);
    color: #fff;
    border: 1px solid rgb(255, 96, 122);
}