@import '../../variables.css';

.card {
    width: 260px;
    height: 150px;
    border: var(--borderCardCatalog);
    border-radius: 10px;
    box-shadow: var(--boxShadowCardCatalog);

    .word {
        color: var(--forth-color);
        font-size: 30px;
        font-weight: 700;
    }

    .category {
        margin: 2px;
        color: var(--secondary-color);
    }

    .transcription {
        color: var(--forth-color);
        font-size: 20px;
        font-weight: 500;
    }

    .translation {
        width: 150px;
        height: 40px;
        margin: 0 auto;
        font-size: 24px;
        margin-top: 10px;
        border-radius: 10px;
        color: var(--secondary-color);
        border: var(--border);
    }

    .buttonTranslate {
        width: 150px;
        height: 40px;
        margin-top: 10px;
        border-radius: 10px;
        background-image: var(--gradient);
        color: var(--primary-color);
        border: var(--border);
        font-size: 18px;
    }
}

.buttons {
    display: flex;
    position: relative;
    
}

.buttonEdit {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 8px;
    border-radius: 50%;
    background-image: var(--gradient);
    color: var(--primary-color);
    border: var(--border);
}

.buttonDelete{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    padding: 5px 8px;
    background-image: var(--gradient);
    color: var(--primary-color);
    border: var(--border);
}