.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 260px;
    height: 300px;
    border: var(--borderCardCatalog);
    border-radius: 10px;
    box-shadow: var(--boxShadowCardCatalog);
    margin: 20px;
    padding: 10px;
    background-color: #ffffff40;

    .word {
        color: var(--forth-color);
        font-size: 30px;
        font-weight: 700;
    }

    .category {
        margin: 2px;
        color: var(--secondary-color);
    }

    .transcription {
        color: var(--forth-color);
        font-size: 20px;
        font-weight: 500;
    }

    .buttonTranslate {
        width: 150px;
        height: 60px;
        @apply mx-2 py-1 px-5 block cursor-pointer text-white text-lg border-2 rounded-2xl border-indigo-600 bg-indigo-600/50 hover:bg-indigo-600/80 active:bg-white/20 disabled:bg-slate-500/60 disabled:text-slate-700 disabled:border-none disabled:cursor-none;
    }

    .translation {
        font-weight: 800;
        padding: 5px 20px;
        margin-top: 10px;
        border-radius: 10px;
        background-color: #ffffff40;
        color: var(--primary-color);
        border: var(--border);
        font-size: 24px;
    }

}