@import './assets/style/variables.css';

body {
  margin: 0;
  font-family: var(--font);
  font-weight: 500;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 30px;
  min-height: calc(100vh - 200px);
  min-width: 320px;
  background: rgb(255,0,0);
  background: linear-gradient(0deg, rgba(255,0,0,0.9) 0%, rgba(0,0,0,0.9) 58%);
  padding-top: 200px;
}

h1, h2 {
  padding: 0 5px;
  margin: 0;
  color: var(--colorWhite);
}

a {
  text-decoration: none;
  color: black;
}

main {
  margin: 0 100px;
}

@media screen and (max-width: 768px) {
  #root {
    padding-top: 140px;
  }
}