@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgba(255, 0, 0, 0.9);
  --third-color: rgb(255, 3, 45);
  --forth-color: rgb(255, 255, 255);
  --border: 1px solid rgb(255, 0, 43);
  --borderInput: 2px solid rgba(255, 0, 43, 0.77);
  --gradient: linear-gradient(to top, rgb(255, 0, 43) 0%, rgba(255, 0, 43, 0.5) 100%);
  --colorWhite: rgb(255, 255, 255);
  --boxShadowCardCatalog: 1px 1px 1px 1px rgba(255, 0, 43, 0.417);
  --borderCardCatalog: 2px solid #000000b3;
  --borderCardList: 1px solid #000000b3; 
  --filterDropShadow: drop-shadow(0 0 .5em rgb(255, 0, 43));
  --font: "Roboto";
}

body {
  @apply m-0 font-mono font-medium;
}

#root {
  @apply min-h-screen flex flex-col justify-between text-center gap-8 min-w-80 bg-gradient-to-r from-sky-500 to-indigo-500;
}

h1, h2 {
  @apply px-1 m-0 text-2xl text-white;
}

a {
  @apply text-black no-underline;
}

main {
  @apply mx-24;
}

table {
  @apply bg-white/40 w-full;
}

tr {
  @apply border-b-2 hover:bg-white/40;
}

td {
  @apply p-3;
}

@media screen and (max-width: 1150px) {
  main {
    @apply mx-3;
  }
  td {
    @apply p-2;
  }
}
@media screen and (max-width: 860px) {

  main {
    @apply mx-12;
  }

  tr {
    @apply block border-0;
  }

  td {
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding: 10px;
  }
}

